<!--
# @Time    : 2019/3/8 15:10
# @Author  : ttwen
# @Remark  : 工作台各种数据统计
-->
{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}向日葵{% endblock %}

{% block content %}

    <section class="content-header">
      <h1>
        我的工作台
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 办公平台</a></li>
        <li><a href="{% url 'personal' %}">我的工作台</a></li>
      </ol>
    </section>

    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ new_user_this_month }}</h3>
              <p>新用户量</p>
            </div>
            <div class="icon">
              <i class="fa fa-pencil"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow ">
            <div class="inner">
              <h3>{{ new_order_this_month }}</h3>
              <p>订单总数</p>
            </div>
            <div class="icon">
              <i class="fa fa-send-o"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ new_profit_this_month }}</h3>
              <p>订单金额</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-play"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-gray">
            <div class="inner">
              <h3>{{ new_commodity_this_month }}</h3>
              <p>新商品数</p>
            </div>
            <div class="icon">
              <i class="fa fa-check"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
            <div class="box">
               <div class="box-header with-border">
                  <h3 class="box-title">本月销售运营数据</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
               </div>
            <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                           <div id="monthly_sale_container" style="height: 400px; width: 800px;"></div>
                        </div>
                        <div class="col-md-4">
                           <div id="monthly_commodity_sale_container" style="height: 400px; width: auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
               <div class="box-header with-border">
                  <h3 class="box-title">月度各种类商品销量数据</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
               </div>
            <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                           <div id="year_sale_commodity" style="height: 400px; width: auto"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </section>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="../../static/plugins/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="../../static/plugins/echarts/macarons.js"></script>
  <script type="text/javascript" src="../../static/plugins/echarts/vintage.js"></script>


  <script type="text/javascript">
	$(function() {
		$('#index').addClass('active');
	});


    //本月营业额数据
    var bar_dom = document.getElementById("monthly_sale_container");
    var myChart = echarts.init(bar_dom,'macarons')
    var monthly_sale = {{ monthly_sale_count }}
    var Mydate = new Date;
    var days = []
    for(var i = 1; i<= monthly_sale.length; i++){
        days.push(Mydate.getMonth()+1+"月"+i+""+"日")
    }
    option = null
    option = {
    title: {
        text: '本月营业额统计',
        x:'center'
    },
    tooltip : {
        trigger: 'axis'
    },
      toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data: days
        }
    ],
    yAxis : [
        {
            type : 'value',
        }
    ],
    series :[
            {
                name: '营业额',
                type: 'bar',
                smooth: false,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: {{ monthly_sale_count }},
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
            },

        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

    // 本月售出商品类别统计
    var bar_dom = document.getElementById("monthly_commodity_sale_container");
    var myChart = echarts.init(bar_dom,'macarons')
    var type_num_result = {{ type_num_result }}
    option = null
    option = {
        title: {
            text: '本月商品销量统计',
            subtext: '',
            x:'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
         legend: {
            orient : 'vertical',
             x : 'left',
             data : ['baby','beauty','Grocery','Electronics','Office','Pet', 'Sports','Kitchen']
        },
        toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true,
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'center',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
        },
        calculable: true,
        series: [
            {
                name: '本月商品销量统计',
                type: 'pie',
                radius : ['30%', '50%'],
                center: ['50%', '60%'],
                data: [
                    { value: type_num_result[1], name:'baby'},
                    { value: type_num_result[2], name:'beauty'},
                    { value: type_num_result[3], name:'Grocery'},
                    { value: type_num_result[4], name:'Electronics'},
                    { value: type_num_result[5], name:'Office'},
                    { value: type_num_result[6], name:'Pet'},
                    { value: type_num_result[7], name:'Sports'},
                    { value: type_num_result[8], name:'Kitchen'},

                ]
            },
        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

    // 全年不同月份的不同种类商品的销量，堆积图 year_sale_commodity
    var bar_dom = document.getElementById("year_sale_commodity");
    var myChart = echarts.init(bar_dom,'macarons')
    var type_num_result = {{ commo_num_array }}
        console.log(type_num_result)
    console.log((type_num_result[0]))
    option = null
    option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data : ['baby','beauty','Grocery','Electronics','Office','Pet', 'Sports','Kitchen']
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: 'baby',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[0]
            },
            {
                name: 'beauty',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[1]
            },
            {
                name: 'Grocery',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[2]
            },
            {
                name: 'Electronics',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[3]
            },
            {
                name: 'Office',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[4]
            },
            {
                name: 'Pet',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[5]
            },
            {
                name: 'Sports',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[6]
            },
            {
                name: 'Kitchen',
                type: 'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: type_num_result[7]
            },
        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
    //图表窗体自适应
  $(window).resize(function(){
      myChart.resize();
  });
  </script>
{% endblock %}