<!--@Time    : 2019/3/10 19:48-->
<!--@Author  : Sutrue#}-->
<!--@Remark  : 热门推荐增加页}-->

{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fileinput/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/combo-select/combo.select.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block main %}
        <div id="devlist">
            <div class="box box-primary" id="liebiao">
                <div class="box-header">
                    <form class="form-inline" id="queryForm">
                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>商品编号：</label>
                            <input type="text" name="assin" class="form-control inputText" id="assin">
                        </div>
                                        <!--<div class="form-group searchArea margin-r-5 margin-top-5">-->
                                            <!--<label>商品品牌：</label>-->
                                            <!--<input type="text" name="brand" class="form-control inputText" id="brand">-->
                                        <!--</div>-->
                        <button type="button" id="btnCommoditySearch" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>查询
                        </button>
                        <!--<div class="btn-group nav nav-pills pull-right">-->
                            <!--<button class="btn" name="setdate" id="setdate">近三天</button>-->
                            <!--<button class="btn" name="setdate" id="setdate">近一周</button>-->
                            <!--<button class="btn" name="setdate" id="setdate">近一月</button>-->
                        <!--</div>-->
<!--{#                        <div class="box-header">#}-->
<!--{#                            <div align="right">#}-->
<!--{#                                <div class="btn-group">#}-->
<!--{#                                    <button class="btn" name="setdate" id="setdate">近三天</button>#}-->
<!--{#                                    <button class="btn" name="setdate" id="setdate">近一周</button>#}-->
<!--{#                                    <button class="btn" name="setdate" id="setdate">近一月</button>#}-->
<!--{#                                </div>#}-->
        <!--{#                        <button type="button" id="btnSave" class="btn btn-info margin-right ">确定</button>#}-->
<!--{#                            </div>#}-->
<!--{#                        </div>#}-->
                    </form>
                </div>
            </div>
        </div>
        <section class="content">
                <!--<div class="box-body">-->
                    <table id="dtbList" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll"></th>
                            <th>商品ID</th>
                            <th>商品名称</th>
                            <th>商品销量</th>
                            <th>添加推荐</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                <!--</div>-->
        </section>


{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'plugins/fileinput/fileinput.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/ajaxfileupload/ajaxfile-upload.js' %}"></script>
    <script src="{% static 'plugins/fileinput/zh.js' %}"></script>
    <script src="{% static 'plugins/combo-select/jquery.combo.select.js' %}"></script>

    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js'%}"></script>


    <script type="text/javascript">
    var oDataTable=null;
    $(function() {

        oDataTable = initTable();
        function initTable() {
            var oTable=$('#dtbList').DataTable($.extend(true,{},
                DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                {

                    ajax : {
                        "url":"{% url 'hotcommend:item_rank' %}",
                        "data":function ( d ) {
                            d.assin=$("#assin").val();
                        }
                    },
                    columns : [
                        DATATABLES_CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
                        {
                            data : "assin",

                        },
                        {
                            data : "title",
                        },
                        {
                            data : "sales_count",
                        },
                        {
                            data : "assin",
                            width : "10%",
                            bSortable : "false",
                            render : function(data, type, row, meta) {
                                var ret="<button onclick='doAdd(\"" + data +"\")'><i class='glyphicon glyphicon-plus'></i></button>";
                                return ret;
                            }
                        }],
                }));
            return oTable;
	    }

	                //刷新页面GET查询请求
            $("#btnCommoditySearch").click(function () {
                oDataTable.ajax.reload();
            });
                    //select选择后刷新页面GET请求
            $("#select").change(function () {
                alert($("#select").val())
                oDataTable.ajax.reload();
            });

            //checkbox全选
            $("#checkAll").on("click", function () {
                if ($(this).prop("checked") === true) {
                    $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                    $('#example tbody tr').addClass('selected');
                } else {
                    $("input[name='checkList']").prop("checked", false);
                    $('#example tbody tr').removeClass('selected');
                }
            });

        });

        // $("#3days").click(function() {
        //     $.ajax({
        //         type: "POST",
        //         url: "{% url 'hotcommend:item_rank' %}",
        //         data: {"date": 3, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
        //         cache: false,
        //         });
        //     oDataTable.ajax.reload();
        // });
        //
        // $("#7days").click(function() {
        //     $.ajax({
        //         type: "POST",
        //         url: "{% url 'hotcommend:item_rank' %}",
        //         data: {"date": 7, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
        //         cache: false,
        //     });
        //     oDataTable.ajax.reload();
        // });
        //
        // $("#30days").click(function() {
        //     $.ajax({
        //         type: "POST",
        //         url: "{% url 'hotcommend:item_rank' %}",
        //         data: {"date": 30, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
        //         cache: false,
        //     });
        //     oDataTable.ajax.reload();
        // });

        function doAdd(id) {
            $.ajax({
                        type: "POST",
                        url: "{% url 'hotcommend:to_hot_list' %}",
                        data: {"assin": id, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert('添加成功', {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                //alert(msg.message);
                                layer.alert('添加失败', {icon: 2});
                            }
                            return;
                        }
                    });
        }

    </script>
{% endblock %}