{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>摄像头拍照</title>
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <script src="{% static 'plugins/layui/layui.js' %}"></script>
  <link rel="stylesheet" href="{% static 'plugins/layui/layui.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/face.css' %}">
</head>

<body>
    <div>
        <ul class="layui-nav layui-bg-cyan">
            <li class="layui-nav-item">

              <a href="">
                  <img style="width: 60px; height: 60px;" src="{% static 'media/logo.png' %}"/>
                  <span style="font-size: 20px;">向日葵收款系统</span>
              </a>
            </li>
            <li class="layui-nav-item" style="float: right;margin-left: 20px;">
{#                <span id="capture" style="font-size: 20px;color: #f7ff12;"><button>确认收款</button></span>#}
                <button class="layui-btn" id="capture" style="margin: 12.59px;font-size: 20px;">确认收款</button>
            </li>
            <li class="layui-nav-item" style="float: right;">
                <span class="total_money"></span>
            </li>
        </ul>
    </div>
    <div class="video">
        <video id="video" width="480" height="300" controls></video>

        <div id="a">
            <canvas id="canvas" width="480" height="320"></canvas>
        </div>


        {% csrf_token %}
    </div>
    <div class="commodity">
        <div class="inputArea">
            <div class="layui-inline">
                <input type="text" class="layui-input searchInput" placeholder="请输入商品编号"/>
                <div class="dataList_table">
                    <table class="layui-table mytable">
                        <tbody class="datalist">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="order">
        <div class="inputArea">
            <table class="layui-table mytable" lay-skin="nob">
                <tbody class="orderList">
                </tbody>
            </table>
        </div>
    </div>
</body>

<script type="text/javascript">
    //访问用户媒体设备的兼容方法
    function getUserMedia(constraints, success, error) {
      if (navigator.mediaDevices.getUserMedia) {
        //最新的标准API
        navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
      } else if (navigator.webkitGetUserMedia) {
        //webkit核心浏览器
        navigator.webkitGetUserMedia(constraints,success, error)
      } else if (navigator.mozGetUserMedia) {
        //firfox浏览器
        navigator.mozGetUserMedia(constraints, success, error);
      } else if (navigator.getUserMedia) {
        //旧版API
        navigator.getUserMedia(constraints, success, error);
      }
    }

    let video = document.getElementById('video');
    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');

    function success(stream) {
      //兼容webkit核心浏览器
      let CompatibleURL = window.URL || window.webkitURL;
      //将视频流设置为video元素的源
      console.log(stream);

      //video.src = CompatibleURL.createObjectURL(stream);
      video.srcObject = stream;
      video.play();
    }

    function error(error) {
      console.log(`访问用户媒体设备失败${error.name}, ${error.message}`);
    }

    if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
      //调用用户媒体设备, 访问摄像头
      getUserMedia({video : {width: 480, height: 320}}, success, error);
    } else {
      alert('不支持访问用户媒体');
    }

    document.getElementById('capture').addEventListener('click', function () {
      context.drawImage(video, 0, 0, 480, 320);
      var base64 = canvas.toDataURL('images/png');
      $("#a").hide();
      //console.log(base64);
      upload(base64);
    });

    function _strMapToObj(strMap){
        let obj= Object.create(null);
        for (let[k,v] of strMap) {
          obj[k] = v;
        }
        return obj;
    }


    //上传人脸图片
    function upload(base64) {
        var total = 0;
        var param = new Map();
        lis = $(".orderList tr");

        for (var i = 0; i < lis.length; i++) {

            idd = lis[i].getElementsByTagName('input').item(0).getAttribute('id');
            assinn = lis[i].getElementsByTagName('td').item(1).textContent;
            vall = lis[i].getElementsByTagName('input').item(0).getAttribute('value');
            pricee = lis[i].getElementsByTagName('td').item(3).textContent;
            pricee = pricee.slice(1, pricee.length);
            total += pricee * vall;

            param.set(idd, vall);
        }
        param = JSON.stringify(_strMapToObj(param));
        console.log(param);

        $('.total_money').html("￥" + total.toFixed(2));

      $.ajax({
          "type": "POST",
          "url": "{% url 'api:member-save-face' %}",
          "data": {'img': base64, 'param': param, csrfmiddlewaretoken: '{{ csrf_token }}'},
          'dataType': 'json',
          beforeSend:function(){},
          success:function(result){
              console.log(result);
              // img_path = result.data.file_path
              // 显示验证码-并跳转另一个页面
          }
      });

    }

</script>

<script type="application/javascript">
    var orderList = '';
    var i = 1;
    let orderId = new Set();
    function orderAdd(id, assin, present_price) {

        if (orderId.has(id) == true) {
            // todo
            {#orderList += '<li>' + id +'<input type="text" id=' + id +' value=' + 0 + '/></li>';#}
        } else {
            orderId.add(id);

            orderList += '<tr><td>' + i++ + '</td>'
                        + '<td>' + assin + '</td>'
                        + '<td><input id="' + id + '" onkeyup="value=zhzs(this.value)" lay-verify="required|number" type="text" value="1" class="layui-input numInput" maxlength="3" /></td>'
                        + '<td>￥' + present_price + '</td></tr>';

        }

        $(".orderList").html("");
        $(".orderList").append(orderList);
    }

    // 限制文本框只能输入正整数
    function zhzs(value){
        value = value.replace(/[^\d]/g,'');
        if('' != value){
            value = parseInt(value);
        }
        return value;
    }
    // 搜索商品建议
    $(function(){
        $('.searchInput').bind('input propertychange',function(){
            var searchText = $(this).val();
            var tmpHtml = "";
            var search_url = "";
            if (searchText.length > 4) {
                $.ajax({
                    cache: false,
                    type: 'get',
                    dataType:'json',
                    url:"http://127.0.0.1:8000/api/commodity/search"+"?s="+searchText,
                    async: true,
                    success: function(data) {
                        data = data['data'];
                        for (var i=0;i<data.length;i++){
                            tmpHtml += '<tr><td rowspan="3"><img class="item_img" src="/media/' + data[i]['imUrl'] + '"></td>'
                                    + '<td><a href="#" onclick="orderAdd(' + data[i]['id'] + ',\'' + data[i]["assin"]  + '\',' + data[i]["present_price"] + ')" id=' + data[i]['id'] + '>' + data[i]["assin"] + '</a></td></tr>'
                                    + '<tr><td class="item_content">' + data[i]["title"] + '</td></tr>'
                                    + '<tr><td>' + data[i]["present_price"] + '</td></tr>'
                        }

                        $(".dataList").html("");
                        $(".dataList").append(tmpHtml);
                        if (data.length == 0){
                            $('.dataList_table').hide()
                        }else {
                            $('.dataList_table').show()
                        }

                    }
                });
            }
        } );

    });

    {#hideElement($('.dataList'), $('.searchInput'));#}




</script>

