{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>摄像头拍照</title>
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'dist/css/face.css' %}">
</head>

<body>
    <div class="video">
        <video id="video" width="480" height="320" controls></video>
        <div>
            <button id="capture">拍照</button>
        </div>
        <div id="a">
            <canvas id="canvas" width="480" height="320"></canvas>
        </div>
        {% csrf_token %}
    </div>
    <div class="commodity">
        显示商品
        <div class="inputArea">

            <input type="text" class="searchInput" />

            <input type="button" class="searchButton" value="提交" onclick="add_search()" />

            <ul class="dataList">

            </ul>
        </div>
    </div>
    <div class="order">
        订单结果
        <ul class="orderList">

        </ul>
    </div>
</body>

<script type="text/javascript">
    //访问用户媒体设备的兼容方法
    function getUserMedia(constraints, success, error) {
      if (navigator.mediaDevices.getUserMedia) {
        //最新的标准API
        navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
      } else if (navigator.webkitGetUserMedia) {
        //webkit核心浏览器
        navigator.webkitGetUserMedia(constraints,success, error)
      } else if (navigator.mozGetUserMedia) {
        //firfox浏览器
        navigator.mozGetUserMedia(constraints, success, error);
      } else if (navigator.getUserMedia) {
        //旧版API
        navigator.getUserMedia(constraints, success, error);
      }
    }

    let video = document.getElementById('video');
    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');

    function success(stream) {
      //兼容webkit核心浏览器
      let CompatibleURL = window.URL || window.webkitURL;
      //将视频流设置为video元素的源
      console.log(stream);

      //video.src = CompatibleURL.createObjectURL(stream);
      video.srcObject = stream;
      video.play();
    }

    function error(error) {
      console.log(`访问用户媒体设备失败${error.name}, ${error.message}`);
    }

    if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
      //调用用户媒体设备, 访问摄像头
      getUserMedia({video : {width: 480, height: 320}}, success, error);
    } else {
      alert('不支持访问用户媒体');
    }

    document.getElementById('capture').addEventListener('click', function () {
      context.drawImage(video, 0, 0, 480, 320);
      var base64 = canvas.toDataURL('images/png');
      $("#a").hide();
      console.log(base64);
      upload(base64);
    });

    //上传人脸图片
    function upload(base64) {
        console.log($("ul li").text());
      $.ajax({
          "type": "POST",
          "url": "{% url 'api:member-save-face' %}",
          "data": {'img': base64, csrfmiddlewaretoken: '{{ csrf_token }}'},
          'dataType': 'json',
          beforeSend:function(){},
          success:function(result){
              console.log(result);
              // img_path = result.data.file_path
          }
      });
    }

</script>

<script type="application/javascript">
    var orderList = '';
    let orderId = new Set();
    function orderAdd(id) {
        console.log(id);

        if (orderId.has(id) == true) {
            console.log($("#orderList"));
            // todo
            {#orderList += '<li>' + id +'<input type="text" id=' + id +' value=' + 0 + '/></li>';#}
        } else {
            orderId.add(id);
            orderList += '<li>' + id +'<input type="text" id="id_' + id +'" value="' + 0 + '" /></li>';
        }

        $(".orderList").html("");
        $(".orderList").append(orderList);
        console.log(orderId);
    }
    // 搜索商品建议
    $(function(){
        $('.searchInput').bind('input propertychange',function(){
            var searchText = $(this).val();
            var tmpHtml = "";
            var search_url = "";
            if (searchText.length > 4) {
                $.ajax({
                    cache: false,
                    type: 'get',
                    dataType:'json',
                    url:"http://127.0.0.1:8000/api/commodity/search"+"?s="+searchText,
                    async: true,
                    success: function(data) {
                        data = data['data'];
                        for (var i=0;i<data.length;i++){
                            console.log(data[i]);
                            console.log(data[i]["id"]);
                            console.log(data[i]["assin"]);
                            tmpHtml += '<li><a onclick="orderAdd(' + data[i]["id"] + ')" href="#">'+data[i]["assin"]+'</a></li>'
                        }

                        $(".dataList").html("")
                        $(".dataList").append(tmpHtml);
                        if (data.length == 0){
                            $('.dataList').hide()
                        }else {
                            $('.dataList').show()
                        }

                    }
                });
            }
        } );

    });

    hideElement($('.dataList'), $('.searchInput'));




</script>

