{% extends "head-footer.html" %}
{% load staticfiles %}


{% block middle %}

    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">


      <!-- Sidebar Menu -->
     <ul class="sidebar-menu">
            <li class="header">我是管理员啊</li>
            <!-- Optionally, you can add icons to the links -->
            <li>
              <a href="/personal/userinfo"><i class="fa fa-calendar"></i> <span>个人中心</span>

              </a>
            </li>

            <li>
              <a href="/users/user/"><i class="fa fa-calendar"></i> <span>商家管理</span>

              </a>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>test</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>一级菜单</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>一级菜单</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>一级菜单</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>一级菜单</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>一级菜单</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>一级菜单</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>一级菜单</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>二级菜单</a></li>
              </ul>
            </li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  {% block content %}


  {% endblock %}

</div>
<!-- /.content-wrapper -->

{% endblock %}
