{% extends "head-footer.html" %}
{% load staticfiles %}


{% block middle %}

    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">


      <!-- Sidebar Menu -->
     <ul class="sidebar-menu">
            <li class="header">我是管理员啊</li>
            <!-- Optionally, you can add icons to the links -->
            <li>
              <a href="/personal/userinfo"><i class="fa fa-calendar"></i> <span>个人中心</span>

              </a>
            </li>

            <li>
              <a href="/users/user/"><i class="fa fa-calendar"></i> <span>商家管理</span>

              </a>
            </li>

            <li class="treeview">
              <a href="/commodity/commodity"><i class="fa fa-calendar"></i> <span>商品管理</span>

              </a>

            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-calendar"></i> <span>推荐管理</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/recommendations/recommendations"><i class="fa fa-calendar"></i>推荐管理</a></li>
                <li><a href="/hotcommend/hotcommend"><i class=""></i>热门推荐管理</a></li>
              </ul>
            </li>

            <li>
                <a href="/member/member">
                    <i class="fa fa-calendar"></i> <span>会员管理</span>
                </a>

            </li>
          <li>
                <a href="/comment/comment">
                    <i class="fa fa-calendar"></i> <span>评论管理</span>
                </a>

            </li>


      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  {% block content %}


  {% endblock %}

</div>
<!-- /.content-wrapper -->

{% endblock %}
